<datos>
	<nuip>8742</nuip>
	<codError>0</codError>
	<primerApellido>ALMUDENA</primerApellido>
	<particula></particula>
	<segundoApellido>LOGROÑO</segundoApellido>
	<primerNombre>MARTINA</primerNombre>
	<segundoNombre>SOFIA</segundoNombre>
	<municipioExpedicion>BUENAVENTURA</municipioExpedicion>
	<departamentoExpedicion>VALLE DEL CAUCA</departamentoExpedicion>
	<fechaExpedicion>31/12/2000</fechaExpedicion>
	<estadoCedula>1</estadoCedula>
	<numResolucion>58</numResolucion>
	<anoResolucion>00</anoResolucion>
	<informante>REGIST. BUENAVENTURA</informante>
	<serial>8017145</serial>
	<fechaDefuncion></fechaDefuncion>
	<fechaReferencia>01/12/2001</fechaReferencia>
	<fechaAfectacion/>
</datos>