<datos>
	<nuip>1469</nuip>
	<codError>0</codError>
	<primerApellido>JURADO</primerApellido>
	<particula></particula>
	<segundoApellido>MARTINEZ</segundoApellido>
	<primerNombre>ALEXANDER</primerNombre>
	<segundoNombre>ALBERTO</segundoNombre>
	<municipioExpedicion>EL PLATEADO</municipioExpedicion>
	<departamentoExpedicion>CAUCA</departamentoExpedicion>
	<fechaExpedicion>02/09/1987</fechaExpedicion>
	<estadoCedula>1</estadoCedula>
	<numResolucion>32</numResolucion>
	<anoResolucion>87</anoResolucion>
	<informante>REGIST.AUX. EL PLATEADO</informante>
	<serial>8976545</serial>
	<fechaDefuncion></fechaDefuncion>
	<fechaReferencia>02/09/1987</fechaReferencia>
	<fechaAfectacion/>
</datos>