<datos>
	<nuip>59310</nuip>
	<codError>0</codError>
	<primerApellido>VELEZ</primerApellido>
	<particula></particula>
	<segundoApellido>URIBE</segundoApellido>
	<primerNombre>FERNANDO</primerNombre>
	<segundoNombre>JAVIER</segundoNombre>
	<municipioExpedicion>TUQUERRES</municipioExpedicion>
	<departamentoExpedicion>NARIÑO</departamentoExpedicion>
	<fechaExpedicion>28/02/1990</fechaExpedicion>
	<estadoCedula>1</estadoCedula>
	<numResolucion>34</numResolucion>
	<anoResolucion>90</anoResolucion>
	<informante>REGIST.AUX. TUQUERRES</informante>
	<serial>96357</serial>
	<fechaDefuncion></fechaDefuncion>
	<fechaReferencia>01/03/1990</fechaReferencia>
	<fechaAfectacion/>
</datos>