<datos>
	<nuip>8742</nuip>
	<codError>0</codError>
	<primerApellido>VALENCIA</primerApellido>
	<particula></particula>
	<segundoApellido>MARTINEZ</segundoApellido>
	<primerNombre>HELEN</primerNombre>
	<segundoNombre></segundoNombre>
	<municipioExpedicion>DAGUA</municipioExpedicion>
	<departamentoExpedicion>VALLE DEL CAUCA</departamentoExpedicion>
	<fechaExpedicion>14/02/1960</fechaExpedicion>
	<estadoCedula>1</estadoCedula>
	<numResolucion>93</numResolucion>
	<anoResolucion>60</anoResolucion>
	<informante>REGIST. DAGUA</informante>
	<serial>99500114</serial>
	<fechaDefuncion></fechaDefuncion>
	<fechaReferencia>15/02/1960</fechaReferencia>
	<fechaAfectacion/>
</datos>