<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
<S:Body>
	<ns2:consultarCedulasResponse xmlns:ns2="http://ws.ani.rnec.gov.co">
		<return>
			<estadoConsulta>
				<numeroControl>3376950602</numeroControl>
				<codError>0</codError>
				<descripcionError>OK</descripcionError>
				<fechaHoraConsulta>2024-12-03 18:51:05</fechaHoraConsulta>
			</estadoConsulta>
			<datosCedulas>#DATOS_CEDULAS</datosCedulas>
		</return>
	</ns2:consultarCedulasResponse>
	</S:Body>
</S:Envelope>
